COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
.deps/
src/config.h
src/Makefile
src/Makefile.in
src/algorithms/.dirstamp
src/algorithms/*.o
src/kvqc2d
src/libkvqc2d_[12].a
src/*.o
src/helpers/*.o
src/helpers/libhelpers.a
src/interpolation/*.o
src/interpolation/libinterpolation.a
src/statisticalmean/*.o
src/statisticalmean/libstatisticalmean.a
src/stamp-h1
.cproject
.project
.settings
test/.dirstamp
test/*.o
test/kvqc2dTest
src/BROWSE
*~
kvqc2d-*.tar.gz/
test/corbatest
/build-stamp
/configure-stamp
/debian/files
/debian/kvqc2d/
/debian/kvqc2d-dbg/
/debian/stamp-*
/debian/*.debhelper.log
/debian/*.substvars
/src/config.h.in
/src/version_ac.h
/src/version_git.h
/test/algorithms/StatisticalMean_n110.icc
/test/algorithms/StatisticalMean_n212.icc
/core
/test/core
/src/version.h
/debian/stamp-makefile-build
/debian/tmp
/obj-i486-linux-gnu/
/build
/test/libgtest_local.a
/plu-autoupdate-from-stinfosys
