Source: kvqc2d
Section: science
Priority: extra
Maintainer: Met.no Kvalobs Developers <kvalobs-dev@met.no>
Build-Depends: debhelper (>= 5), autotools-dev, lsb-base, g++ (>= 4.1.1),
 automake, libsqlite3-dev (>= 3.3.8), libgsl0-dev (>= 1.8),
 libboost-dev (>= 1.33.1), libboost-thread-dev (>= 1.33.1),
 libboost-filesystem-dev (>= 1.33.1), libomniorb4-dev (>= 4.0.6),
 metlibs-putools-dev (>= 3.0), libkvcpp-dev (>= 2.1.2)
Standards-Version: 3.7.2

Package: kvqc2d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sqlite3
Recommends: kvalobs (>= 2.1.2)
Description: Non-real-time and geo-statistical quality controls. 
 The geo-statistical algorithms will make up the QC2-ROM (space-control) 
 and will rely on: handling of data-sets comprising points from the 
 whole station network of interest, filtering of uncertain values before 
 and after checks, gridding of data and iterative techniques, 
 kriging interpolation and cross-validation, as well as the additional 
 user-defined algorithms performing specific checks on data selected 
 by the QC2-ROM engine in both time and space. 
