Source: kvqc2d
Section: science
Priority: extra
Maintainer: Met.no Kvalobs Developers <kvalobs-dev@met.no>
Build-Depends: debhelper (>= 7), cdbs, g++ (>= 4.4),
 automake, libsqlite3-dev (>= 3.6), libgsl0-dev (>= 1.8),
 libboost-dev (>= 1.40.0), libboost-thread-dev (>= 1.40.0),
 libboost-filesystem-dev (>= 1.40.0), libomniorb4-dev (>= 4.0.6),
 libkvcpp2-dev (>= 2.5.2a)
Standards-Version: 3.7.2

Package: kvqc2d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdbd-pg-perl (>= 2.16), ${perl:Depends}
Recommends: kvalobs (>= 2.5.2a)
Description: Non-real-time and geo-statistical quality controls.
 The geo-statistical algorithms will make up the QC2-ROM (space-control)
 and will rely on: handling of data-sets comprising points from the
 whole station network of interest, filtering of uncertain values before
 and after checks, gridding of data and iterative techniques,
 kriging interpolation and cross-validation, as well as the additional
 user-defined algorithms performing specific checks on data selected
 by the QC2-ROM engine in both time and space.

Package: kvqc2d-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kvqc2d (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for kvqc2d
 This package contains the debugging symbols for kvqc2d.
