#!/usr/bin/make -f
# -*- makefile -*-


include /usr/share/cdbs/1/rules/debhelper.mk

############################## use CMake
ifeq ($(USE_CMAKE),1)

include /usr/share/cdbs/1/class/cmake.mk
DEB_MAKE_CHECK_TARGET=test

############################## or use autotools
else

include /usr/share/cdbs/1/class/autotools.mk
DEB_MAKE_CHECK_TARGET=check

pre-build :: version-deb-autotools
# check that the version specified in configure.ac is the same as the
# most recent version in debian/changelog
version-deb-autotools:
	@AC_VERSION=$$(grep ^AC_INIT configure.ac | sed -e 's/^AC_INIT(\[[a-zA-Z0-9_.~]\+\], *\[//' -e 's/\], *\[[a-z@.-]\+\])//'); \
	DEBIAN_PACKAGE=$$(head -n 1 debian/changelog | sed -e 's/^\([a-z_0-9-]\+\) (/\1/'); \
	DEBIAN_VERSION=$$(head -n 1 debian/changelog | sed -e 's/^[a-z_0-9-]\+ (\([0-9]\+\.[a-zA-Z0-9_.~]\+\)-[^-)]\+).*$$/\1/'); \
	if [ "x$$DEBIAN_VERSION" != "x$$AC_VERSION" ]; then \
	    echo "Error: debian version '$$DEBIAN_VERSION' != version '$$AC_VERSION' from configure.ac"; \
	    if [ "x$$KVQC2D_BUILD_VERSION_CHECK" != "xNO" ]; then exit 1; fi \
	fi;

############################## end of autotools part
endif

#DEB_BUILDDIR=$(DEB_SRCDIR)/debian/build

pre-build :: git-is-clean
git-is-clean:
	@if ./version.sh | grep -q '\(unknown\|dirty\)'; then \
	    echo; echo; echo; echo "=================================================="; \
	    echo "Warning: git working directory might not be clean"; \
	    echo "=================================================="; echo; echo; echo; \
	fi; \
