#[Specific Runs]
#Last 24hours .....
#Daily Run ....
# /disk1/KVALOBS/Qc2Config .... $KVALOBS

# Performs simple linear interpolation for a single point replacement.

Algorithm=GapInterpolate
RunAtHour=22 
RunAtMinute=42
MaxHalfGap=3
#Last_NDays=3
#[Time Range]
Start_YYYY=2008
Start_MM=04 
Start_DD=17
Start_hh=0
Start_mm=0
Start_ss=0

End_YYYY=2008 
End_MM=05
End_DD=20
End_hh=0
End_mm=0
End_ss=0

CfailedString="XLONG GAPS"

ParamId=215
TypeId=330
#Flag to set if value is corrected
S_ftime=1
change_fmis=3->1
change_fmis=0->4
change_fmis=2->4
